Jinja2==2.7.3
MarkupSafe==0.23
Pygments==2.0.2
backports.ssl-match-hostname==3.4.0.2
certifi==2015.4.28
gnureadline==6.3.3
ipython==3.1.0
jsonschema==2.4.0
mistune==0.5.1
mock==1.0.1
nose==1.3.6
ptyprocess==0.4
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2015.2
pyzmq==14.6.0
six==1.9.0
terminado==0.5
tornado==4.1
virtualenv==15.0.1
graphlab==1.8.5
pip install --upgrade --no-cache-dir https://get.dato.com/GraphLab-Create/1.8.5/vpatani@umail.iu.edu/DDC6-8855-6899-3926-9D94-CE08-1F95-EF83/GraphLab-Create-License.tar.gz